td{
    width: 30%;
    padding-bottom: 20px;
}
button{
    margin-left: 45%;
    background-color: blue;
    color: white;
    padding: 2%;

}
p{
 color:purple;
 font-family:Arial, Helvetica, sans-serif;
 font-size: x-large;
 text-align: center;
 margin-top:15%;

}