p{
    border:2px solid blue;
    padding: 10%;
}
button{
    
    background-color: blue;
    color: white;
    width: 20%;
    margin-left: 35%;

}
label{
    color: blueviolet;
    font-weight: bold;
}