button{
    
    background-color: blue;
    color: white;
    width: 20%;
    margin-left: 35%;

}
td{
    padding-bottom: 10%;
}
p{
    color:purple;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-left:35%;
}